<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @team.FullName %>
</p>

<p>
  <strong>Bdate:</strong>
  <%= @team.BDate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @team.Address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @team.Telephone %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
